<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnChildren"
        tools:targetApi="31">

        <!-- SplashScreens is the entry point, so it has the MAIN and LAUNCHER filters -->
        <activity
            android:name=".SplashScreens"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SplashScreen can be another screen in the app, no need for MAIN/LAUNCHER filters -->
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.LearnChildren" />

        <!-- MainActivity does not need MAIN/LAUNCHER filters either -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- Other activities don't need MAIN/LAUNCHER filters -->
        <activity
            android:name=".Animal"
            android:exported="false" />
        <activity
            android:name=".Family"
            android:exported="false" />
        <activity
            android:name=".Number"
            android:exported="false" />
        <activity
            android:name=".Colors"
            android:exported="false" />

    </application>

</manifest>
